*.suo
*.user
_ReSharper*
[Oo]bj/
[Bb]in/
TestResults/
*.vspscc
*.vssscc
*.vs
TestResults
packages/
~*
/Source/.vs/config
/POC/PMICH/packages
/POC/PMICH/.vs
/POC/PMICH/PMICH/obj
/POC/PMICH/PMICH/bin
/Development/PMI_Brand_Dashborad/.vs
/Development/PMI_Brand_Dashborad/packages
/Development/ChartDemo/packages
/Development/ChartDemo/.vs
/Development/PMI_Brand_Dashborad/PMI_Brand_Dashborad/logs
/Development/UI/material-ui-apollo-master-5ef379beffd071ee2c20b8b0cf8c3af66340c81b
/Development/Framework/Aangular4/packages
/Development/Framework/Aangular4/Aangular4/node_modules
/Development/Framework/Aangular4/.vs
/Development/Framework/Source/HCRS_APP/node_modules
/Development/Framework/Source/.vs
/Development/Framework/Source/HCRS_APP/node_modules_ng4.zip
/Development/Framework/Source/HCRS_APP/app2
/Development/Framework/Source/HCRS_APP/app
/Development/Framework/Source/packages
/Development/LandingPage/PMICH/packages
/Development/LandingPage/PMICH/.vs
/PMI_Brand_Dashborad_Demo/packages
/PMI_Brand_Dashborad_Demo/.vs
/PMI_Brand_Dashborad_Demo/PMI_Brand_Dashborad/logs
/pmich.imshealth.com/PMICH/.vs
/pmich.imshealth.com/PMICH/packages
/Angular_Seed/e2e-angular/.vscode/launch.json
DashboardFramework.Tests/
/DashbaordFramework/DashboardFramework/*.log
/Offline-App
/scraper-alpha/node_modules
